

p {
    background-color: #782F7F;
    font-size: 1.25em;
    color: #FFF700;
}

a {
  color: #FFF700;
  background-color:  #592259;
}

h1 {
  background-color: #592259;
  text-align: center;
  padding: 1.25em 0;
  font-size: 2.5em;
}

h2 {
    background-color: #592259;
    text-align: center;
    padding: 1.25em 0;
    font-size: 1.5em;
}

nav {
    background-color: #DB9FDB;
    font-size: 1.3em;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0.625em 0;
    display: block;
}

nav a {
  padding: 0.625em;
  background-color: #DB9FDB;
  color: #FFF700;
}

nav a:hover{
  color: #000000;
  background-color: #CB80C5;
}

footer {
    background-color: #782F7F;
    font-size: 1em;
    color: rgb(0, 0, 0);
    padding: 0.315em 0;
}

main article{
  padding: 1em;
}

main section{
  vertical-align: center;
  padding: 1em;
}




