

p {
    background-color: #782F7F;
    font-size: 1.25em;
    color: #FFF700;
}

a {
  color: #FFF700;
  background-color:  #592259;
}

h1 {
  background-color: #592259;
  text-align: center;
  padding: 1.25em 0;
  font-size: 2.5em;
}

h2 {
    background-color: #592259;
    text-align: center;
    padding: 1.25em 0;
    font-size: 1.5em;
}

header{
  text-align: center;
}

nav {
    background-color: #DB9FDB;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1.25em 0;
    font-size: 1.5em;
    display: block;
}

nav a {
  padding: 0.625em;
  background-color: #DB9FDB;
  color: #000000;
}
/*
nav a:hover{
  color: #000000;
  background-color: #CB80C5;
}*/

footer {
    background-color: #782F7F;
    font-size: 1em;
    color: rgb(0, 0, 0);
    padding: 0.315em 0;
    text-align: left;
}

main article{
  padding: 1em;
}




