/*Laura Gómez Menéndez, UO275725*/

/*Selector Specificity: (0, 0, 1)*/
body {
    font-family: "Cambria Math"; 
    color: rgb(251, 255, 4);
    background-color:#a27dad; 
 }
 
 /*Selector Specificity: (0, 0, 1)*/
h1 {
    color:  rgb(255, 255, 255);
    font-family: "Cambria Math"; 
    background-color:#4e096e; 
    text-align: center;  
}

/*Selector Specificity: (0, 0, 1)*/
h2{
    text-align: justify;
    font-size: medium;
    color: rgb(251, 255, 4); 
    background-color:#6a1372; 
    font-family: "Cambria Math"; 
}

/*Selector Specificity: (0, 0, 1)*/
nav, footer {
    background-color: #8d3cb3;
    font-family: "Cambria Math";
    color: rgb(251, 255, 4);
}

/*Selector Specificity: (0, 0, 2)*/
nav a, footer a {
    color: rgb(251, 255, 4);
    margin: 0.3125em;
    font-family: "Cambria Math";
    background-color: #9f3fdf;
}

table { 
    border-collapse: collapse; 
    margin: 25px 0; font-size: 1em; 
    font-family: "Cambria Math";
    min-width: 450px; 
    box-shadow: 0 0 20px rgb(251, 255, 4); 
}

table tr 
{ 
    background-color: #76247a;  
    color: rgb(251, 255, 4);
    text-align: middle; 
}

table thead tr 
{ 
    background-color:#552458; 
    color: rgb(251, 255, 4);
    text-align: middle; 
}

table caption
{
    font-family: "Cambria Math";
    min-width: 450px; 
    background-color:#552458; 
    color: rgb(251, 255, 4);
    text-align: middle; 
    
}
table th, table td 
{ 
    padding: 12px 15px; 
}

table tbody tr 
{ 
    border-bottom: 1px solid #dddddd; 
} 

table tbody tr:last-of-type 
{ 
    border-bottom: 2px solid #4e0e53; 
}



