
/*Especificidad (0,0,1)*/
body {
  display: grid;
  grid-template-areas:
  "header header"
  "nav article "
  "footer footer";
  gap: 0.625em;
  grid-template-columns: 1fr 6fr;
}

header {
  grid-area: header;
  /*width: 15%;
  max-width: 1024px;*/
}

article {
  grid-area: article;
   /*width: 30%;*/
   /*max-width: 60%;*/
}

nav{
  grid-area: nav;
 /* max-width: 100%;*/
}

footer {
  grid-area: footer;
  /*width: 5%;
  max-width: 1024px;*/
}



