
.item1 { grid-area: header; }
.item2 { grid-area: h1; }
.item3 { grid-area: h2; }
.item4 { grid-area: footer; }

body {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'h1 h1 h1 h1 h1 h1'
      'h1 h1 h1 h2 h2 h2'
      'footer footer footer footer footer footer';
    gap: 10px;
    background-color: #782F7F;
    color: #FFF700;
    padding: 0.625em;
}
